# Dependencies
node_modules/
Frontend/node_modules/
backend/venv/
backend/.venv/
backend/env/
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
**/.pytest_cache/
*.log

# UID Migration Report
**/migrations/migrate_uid_manifest.json

# Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env
serviceAccountKey.json
backend/serviceAccountKey.json
frontend/.env

# Keep Example Env
!.env.example
!backend/.env.example
!frontend/.env.example

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Custom Virtual Environments
backend/acnsv2/
acnsv2/
#readme files
ACNS_v2/ACNS_V2_Project_Report.md
ACNS_v2/Methodist_Campus_Graph_Design.md
ACNS_v2/Navigation_Implementation_Plan.md
ACNS_V2_Analysis_Report.md